[submodule "submodules/Utils"]
	path = submodules/Utils
url=https://github.com/ebertolazzi/Utils.git
[submodule "submodules/quarticRootsFlocke"]
	path = submodules/quarticRootsFlocke
url=https://github.com/ebertolazzi/quarticRootsFlocke.git
[submodule "submodules/GenericContainer"]
	path = submodules/GenericContainer
url=https://github.com/ebertolazzi/GenericContainer.git
[submodule "cmake_utils"]
	path = cmake_utils
	url = git@github.com:ebertolazzi/cmake_utils.git
